# Core ML/Data libraries
tensorflow==2.15.0
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2

# Streamlit
streamlit==1.35.0

# HuggingFace Hub - untuk download model .h5 dari HF Hub
huggingface_hub==0.23.4
